ADMIN_EMAIL=
BOT_API_PREFIX=
BOT_DATA_DIR=
FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
GROQ_API_KEY=
GEMINI_API_KEY=
PORT=3000
PREVIEW_SECRET=
PUBLIC_API_URL=
RAILWAY_URL=